#file{
    display: none;
}

.change-button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


.cart-body{
    height: 600px;
}

.upload-btn{
    margin-left: -30px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: whitesmoke;
    align-items: center;
}

