
.first{
    background-image: url("https://i.ibb.co/ssdXBh0/photo-1543157145-f78c636d023d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 300px;
    

}
.second{
    background-image: url("https://i.ibb.co/2gxNLRQ/pink-flower-frame-background-with-watercolor-65186-2566.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 200px;
   
    
}

.third{
    background-image: url("https://i.ibb.co/wNmzGCk/photo-1496661415325-ef852f9e8e7c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 200px;
   
}

/* h3{
    display: flex;
    align-items: center;
    justify-content: center;
    
} */


