.back-gp{
    background-image: url("https://i.ibb.co/wSM0LyL/714041.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
 
}
.new{
    /* background-color: aqua; */
}

.Deals{
    height: 400px;
}

.about{
    background-color: rgb(41, 39, 39);
    color: whitesmoke;
}