.container{
    
}

.heading{
    align-items: center;
}
.row{
    /* background-color: azure; */
}

.view-btn{
    cursor: pointer;
}

#photo{
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.img-container{
    margin-left: 20%;
}

.save-btn{
    margin-left: 50px;
    margin-bottom: 150px;
}

